<section class="container"
    >
    <mat-card class="card" *ngIf="authService.loadingState$ | async as state">
        <form [formGroup]="loginForm" class="" (ngSubmit)="onSubmit()" 
        >
        <div class="my-2">
            <h1 class="title">LOGIN</h1>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput #input type="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput #input type="password" />
        </mat-form-field>
        <div class="">
            <mat-progress-bar
                mode="indeterminate"
                *ngIf="state.loading"
                ></mat-progress-bar>
            <button 
                mat-raised-button 
                color="primary"
                type="submit"  
                [disabled]="loginForm.invalid"  
                class="full-width">Submit</button>
        </div>
        </form>
    </mat-card>
</section>