.container {
    width: 100%;
    margin: 50px 3%;
    display: flex;
    .card > form {
        display: flex;
        flex-direction: column;
        flex: 1;
        .full-width {
            width: 100%;
        }
    }
}
 

