.list-users {
    display: grid;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 200px;
    grid-template-columns: repeat(auto-fill, 20rem);
    justify-content: center;
    @media only screen and (min-width: 760px) {
      justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);

    }
    @media only screen and (min-width: 1200px) {
      justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);

    }
}

.user-card{
    width: 17rem;
    margin: 10px;
  }

  .button-container {
      margin: 5px;
     display: inline-block;
  }




  .create-btn {
    margin: 50px 2%;
}