<ng-container
    class=""
    *ngIf="userState.state | async as state"
    >
    <button mat-raised-button color="primary" (click)="userState.openCreateModal()" class="create-btn">
        <mat-icon>add</mat-icon>
        Create User
    </button>
    <section class="list-users">
        <mat-card class="user-card"  *ngFor="let item of state.userData.data">
            <mat-card-header>
                <mat-card-title>
                    {{ item.first_name }}
                </mat-card-title>
                <mat-card-subtitle>
                    {{ item.email }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="img-wrapper">
                    <img mat-card-image [src]="item.avatar" alt="item.first_name">
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="button-container">
                    <button mat-mini-fab color="primary" aria-label="edit icon"  [routerLink]="['edit', item.id]">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="button-container">
                    <button mat-mini-fab color="warn" aria-label="delete icon" (click)="userState.openDeleteModal(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </section>
</ng-container>